<div id="single-photo">

    <div id="pnl-photo">
        <img src="<%=photo.photoUrl%>"
             data-id="<%=photo.id%>"
             data-restype="ee-photo"
             id="the-image"/>


        <div id="box-source-actions">
            <button class="close">close</button>
            <div class="btn wikipedia" data-qtype="wikipedia"></div>
            <div class="btn news" data-qtype="news" ></div>
            <div class="btn events" data-qtype="events" ></div>
            <div class="btn info" data-qtype="info" ></div>
            <div class="btn organization" data-qtype="organization" ></div>
            <div class="btn map" data-qtype="map" ></div>
        </div>

        <div id="box-search-results">
            <div id="map-placeholder">
                <img src="" class="map"/>
            </div>
        </div>
        <% if (photo.uisTags) {
            for (i=0;i< photo.uisTags.length;i++) {
                var uisTag = photo.uisTags[i];
                %>
                <div class="tag-pin" data-tagname="<%=uisTag.tagname%>" style="left:<%=uisTag.x%>px;top:<%=uisTag.y%>px;"></div>
                <%
                }
            }
        %>
    </div>

    <div id="tagList">
    <% if (photo.eyeemTags) {
        for(i=0;i<photo.eyeemTags.length;i++) {
            var eyeemTag =  photo.eyeemTags[i];
            var locationCls = '';
            if ( (eyeemTag.type == 'city') ||(eyeemTag.type == 'country')||(eyeemTag.type == 'venue') ) {
                locationCls = 'location';
            }
    %>
        <button class="btn-tagAction <%=locationCls%>"
                data-tagtype="eyeem"
                data-type="<%=locationCls%>"
                data-subtype="<%=eyeemTag.type%>"
                data-name="<%=eyeemTag.name%>"
        <% if (eyeemTag.location) { %>
                data-gps-lat="<%=eyeemTag.location.latitude%>"
                data-gps-lon="<%=eyeemTag.location.longitude%>"
        <% } %> ><%=eyeemTag.name%></button>
    <%
        }
    }
    %>
    <% if (photo.uisTags) {
        for (i=0;i< photo.uisTags.length;i++) {
            var uisTag = photo.uisTags[i];
            %>
        <button class="btn-tagAction uisTag"
                data-tagtype="uis"
                data-name="<%=uisTag.tagname%>"
                data-subtype="<%=uisTag.category %>"
                data-type=""
                ><%=uisTag.tagname%></button>
        <%
        }
    }
    %>
    </div>


</div>


<div id="box-create-tag">
    <input type="text" name="tag" /><br/>
    <select name="category">
        <option value="places">Places</option>
        <option value="food_drink">Food & Drink</option>
        <option value="fashion">Fashion</option>
        <option value="geographic">Geographic (i.e. Land, City)</option>
        <option value="celebrities_society">Celebrities & Society</option>
        <option value="sports">Sports</option>
        <option value="science_education">Science & Education</option>
        <option value="sports">Sports</option>
        <option value="multimedia">Multimedia</option>
        <option value="science_education">Science & Education</option>
        <option value="technology">Technology</option>
        <option value="automotive_transportation">Automotive & Transportation</option>
        <option value="buildings">Buildings</option>
        <option value="art_entertainment">Art & Entertainment</option>
        <option value="animals">Animals</option>
        <option value="travel">Travel</option>
        <option value="hobbies_interests">Hobbies & Interests</option>
    </select>
    <br />
    <button>Tag!</button>

</div>

        <script type="text/javascript">
            $(function() {
               $('#box-source-actions .close').on('click', function() {
                   $('#box-source-actions').fadeOut();
               });

               $('.btn-tagAction').on('click', function() {
                   $('#map-placeholder img').attr('src','');
                   var query = {
                       name: $(this).data('name'),
                       type: $(this).data('type'),
                       subtype: $(this).data('subtype'),
                       latitude: $(this).data('gps-lat'),
                       longitude: $(this).data('gps-lon')
                   };
                   console.dir(query);
                   $('#box-source-actions .btn').off();
                   $('#box-source-actions .btn').on("click", function() {
                        query.qtype = $(this).data('qtype');
                        $.get("/tag", query, function(res, err) {
                            if (res) {
                                $('#box-source-actions').fadeOut();
                                $('#box-search-results').fadeIn();

                                if (res.type == 'map') {
                                    $('#box-search-results #map-placeholder img').attr('src', res.mapUrl);
                                }
                            }
                        });
                   });
                   $('#box-search-results').hide();
                   $('#box-source-actions').show();
               });

                $('.tag-pin').hover(function() {
                    $(this).text($(this).data('tagname'));
                    $(this).fadeTo('fast',0.9);
                }, function() {
                    $(this).text("");
                    $(this).fadeTo('fast',0.1);
                })

               $('#the-image').on('click', function(evt) {
                    var eeid = ($(this).data('id'));
                    var resType = ($(this).data('restype'));

                   var uisTag = {resType: resType,resId: eeid, x: evt.offsetX, y:evt.offsetY};

                     var $tagbox =$('#box-create-tag');
                     $tagbox.fadeIn();
                     var offset = $(this).offset();
                     $tagbox.offset({ top: offset.top + uisTag.y, left: offset.left + uisTag.x});

                     $tagbox.find('button').off();
                     $tagbox.find('button').on('click', function() {
                         uisTag.tagname = $tagbox.find("input[name=tag]").val();
                         uisTag.category = $tagbox.find("select[name=category]").val();

                         $.post('/tag', uisTag, function(resp){
                             var taginf = '<div class="tag">'+uisTag.tagname+'('+uisTag.category+')</div>';
                             var $taginf = $(taginf);
                             $('#tagList').append($taginf);
                             $tagbox.fadeOut();
                         });
                 });

                 })
            });


        </script>
