<div id="single-photo">

    <img src="<%=photo.photoUrl%>">

    <% if (photo.eyeemTags) {
        for(i=0;i<photo.eyeemTags.length;i++) {
            var eyeemTag =  photo.eyeemTags[i];
            if ( (eyeemTag.type == 'city') ||(eyeemTag.type == 'country')||(eyeemTag.type == 'venue') ) {
    %>
    <div id="box-source-actions">
        <button data-qtype="wikipedia">Wikipedia </button>
        <button data-qtype="news">News</button>
        <button data-qtype="events">Events</button>
        <button data-qtype="buy">Buy</button>
        <button data-qtype="info">Info</button>
        <button data-qtype="organization">Places</button>
        <button data-qtype="map">Map</button>
        <div id="map-placeholder">
            <img src="" class="map"/>
            <div id="map-container"></div>
        </div>
    </div>

        <button class="btn-tagAction location"
                data-type="location"
                data-subtype="<%=eyeemTag.type%>"
                data-name="<%=eyeemTag.name%>"
        <% if (eyeemTag.location) { %>
                data-gps-lat="<%=eyeemTag.location.latitude%>"
                data-gps-lon="<%=eyeemTag.location.longitude%>"
        <% } %> ><%=eyeemTag.name%></button>
    <%
            }
        }

    }
    %>


</div>


<div id="box-create-tag">
    <input type="text" name="tag" /><br/>
    <select name="category">
        <option value="places">Places</option>
        <option value="food_drink">Food & Drink</option>
        <option value="fashion">Fashion</option>
        <option value="geographic">Geographic (i.e. Land, City)</option>
        <option value="celebrities_society">Celebrities & Society</option>
        <option value="sports">Sports</option>
        <option value="multimedia">Multimedia</option>
        <option value="science_education">Science & Education</option>
        <option value="sports">Sports</option>
        <option value="multimedia">Multimedia</option>
        <option value="science_education">Science & Education</option>
        <option value="technology">Technology</option>
        <option value="automotive_transportation">Automotive & Transportation</option>
        <option value="buildings">Buildings</option>
        <option value="art_entertainment">Art & Entertainment</option>
        <option value="animals">Animals</option>
        <option value="travel">Travel</option>
        <option value="hobbies_interests">Hobbies & Interests</option>
    </select>
    <br />
    <button>Tag!</button>
</div>

        <script type="text/javascript">
            $(function() {
               $('.btn-tagAction').on('click', function() {
                   $('#map-placeholder img').attr('src','');
                   var query = {
                       name: $(this).data('name'),
                       type: $(this).data('type'),
                       subtype: $(this).data('subtype'),
                       latitude: $(this).data('gps-lat'),
                       longitude: $(this).data('gps-lon')
                   };
                   console.dir(query);
                   $('#box-source-actions button').off();
                   $('#box-source-actions button').on("click", function() {
                        query.qtype = $(this).data('qtype');
                        $.get("/tag", query, function(res, err) {
                            if (res) {
                                if (res.type == 'map') {
                                    $('#map-placeholder img').show();
                                    $('#map-placeholder #map-container').hide();
                                    $('#map-placeholder img').attr('src', res.mapUrl);
                                }
                                if (res.type == 'organization') {
                                    nokia.Settings.set("appId", "irbEtA17e7khRQcuDjQB"); 
                                    nokia.Settings.set("authenticationToken", "y8RuepVEq_-4eIrjcSljPw");

                                    $('#map-placeholder img').hide();
                                    $('#map-placeholder #map-container').empty().show();
                                    var map = new nokia.maps.map.Display(
                                    document.getElementById("map-container"), {
                                        components: [ 
                                            // Behavior collection
                                            new nokia.maps.map.component.Behavior(),
                                            new nokia.maps.map.component.ZoomBar(),
                                            new nokia.maps.map.component.Overview(),
                                            new nokia.maps.map.component.TypeSelector(),
                                            new nokia.maps.map.component.ScaleBar() ],
                                        // Zoom level for the map
                                        'zoomLevel': 17,
                                        // Map center coordinates
                                        'center': [query.latitude, query.longitude] 
                                    });
                                    map.set("baseMapType", nokia.maps.map.Display.SATELLITE);

                                    $.each(res.response.results.items, function(index,location){
                                        // Create a marker and add it to the map
                                        var marker = new nokia.maps.map.StandardMarker(location.position, {
                                            text: location.title // Small label
                                        });
                                        map.objects.add(marker);
                                    });

                                    var marker = new nokia.maps.map.Marker(
                                    new nokia.maps.geo.Coordinate(query.latitude, query.longitude),{
                                            title: "CENTER",
                                            visibility: true,
                                            icon: "http://www.ebparks.org/Assets/_Nav_Categories/About_Us/Fire/Google+Yellow+Map+Icon.jpg",
                                            // Offset the top left icon corner so that it's
                                            // Centered above the coordinate
                                            //anchor: new nokia.maps.util.Point(32, 32) 
                                            });

                                    map.objects.add(marker);

                                }
                            }
                        });
                   });

                   $('#box-source-actions').show();
               })
            });


        </script>
