
<ul class="stream" id="<%=streamId%>">
    <% for(var i=0; i<photos.length; i++) {
        var photo = photos[i];
    %>
    <li style="position:relative;">
        <img src="<%=photo.thumbUrl %>" class="sm-image"/>
        <img src="<%=photo.photoUrl %>" data-restype="ee-photo" data-id="<%=photo.id%>"
            class="bigimage">

        <% if (photo.tag) { %>
        <p> <%=photo.tag.tagname%> </p>
        <% } %>

    </li>

    <% } %>
</ul>




